<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client Manager</title>
    <link th:href="@{/css/bootstrap.min.css}">
  </head>
  <body>
    
    <div class="container my-3">
        <h1 class="text-center mb-3">Welcom to ouver web site</h1>
        <a class="btn btn-primary" href="/clients">Clients</a>

    </div>


    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>